.text_shade1{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 350px;    
    margin-top: 20px;
    margin-left: 280px;
}
.text_shade2{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 200px;    
    margin-top: 20px;
    margin-left: 280px;
}
.text_shade3{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 300px;    
    margin-top: 20px;
    margin-left: 280px;
}

.text_shade4{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 490px;    
    margin-top: 20px;
    margin-left: 280px;
}
.text_shade44{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 420px;    
    margin-top: 20px;
    margin-left: 280px;
}
.text_shade5{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 180px;    
    margin-top: 20px;
    margin-left: 280px;
}

.text_shade6{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height:800px;    
    margin-top: 20px;
    margin-left: 280px;
}

.text_shade7{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height:360px;    
    margin-top: 20px;
    margin-left: 280px;
}
.text_shade8{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height:430px;    
    margin-top: 20px;
    margin-left: 280px;
}
.button2 {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Mitr', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
  }

.text_header_shade{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 600px;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(168, 166, 166);
    border-radius: 4px;
    margin-left: 150px;
  }
  input[type=text2] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(168, 166, 166);
    border-radius: 4px;
    margin-left: 150px;
  }
#text_header_shade1{
    font-size: 29px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 20px;
}

#text_content1_shade1{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    margin-left: 290px;
}
#text_content1_shade11{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    margin-left: 20px;
}
#text_content1_shade12{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    margin-left: 20px;
    margin-top: 40px;
}

#male{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;

}

#iocc{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 15px;

}
#iocc2{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 15px;

}

.iocc{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 15px;

}
#female{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 30px;
}


#text_content2_shade1{
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    font-style: oblique;
    margin-top: 170px;
    margin-left: 20px;
}


.button_shade1 {
    margin-top: 18px;
    padding: 8px 30px;
    color: white;
    margin-left: 650px;
    width: 120px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    background-color: #4CAF50;
    border: 2px solid #ffffff;
}

.button_shade2 {
    margin-top: 70px;
    margin-left: 19rem;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    background-color: white; 
    border: 2px solid #4CAF50;
}


/* JavaScript Progress Bar */

#myProgress{
    position: relative;
    border-radius: 25px;
    width: 60.5%;
    height: 30px;
    margin-left: 290px;
    margin-top: 20px;
    background-color: #ddd;
  }
  
#myBar{
    position: absolute;
    border-radius: 25px;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
}
  
#label{
    text-align: center;
    line-height: 30px;
    color: white;
}

#myBar{
    font-weight: bolder;
}

.prev, .next {
    transition: 0.6s ease;
    user-select: none;
}
#text_car {
    font-size: 18px;
    font-family: 'Mitr', sans-serif;
}