@media only screen {
.text_shade1{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 1000px;    
    margin-top: 40px;
    margin: auto;
}
}

@media only screen and (min-width: 600px) {
.text_header_shade{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-top: 60px;
    text-align: center;
}
}

@media only screen and (min-width: 600px) {
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 9px;
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  input[type=text2] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 9px;
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
#text_header_shade1{
    font-size: 26px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 20px;
}
}

@media only screen and (min-width: 600px) {
#text_content1_shade1{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    text-align: center;  
}
}

@media only screen and (min-width: 600px) {
#text_content1_shade11{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    margin-left: 20px;
}
}

@media only screen and (min-width: 600px) {
#text_content1_shade12{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    margin-left: 20px;
    margin-top: 40px;
}
}

@media only screen and (min-width: 600px) {
    #text_content1_shade13{
        font-size: 18px;
        font-family: 'Mitr', sans-serif;
        margin-left: 20px;
    }
    }

@media only screen and (min-width: 600px) {
#male{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
}
}


@media only screen and (min-width: 600px) {
#iocc{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 15px;
}
}

@media only screen and (min-width: 600px) {
#iocc2{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 15px;
}
}

@media only screen and (min-width: 600px) {
.iocc{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 15px;
}
}

@media only screen and (min-width: 600px) {
#female{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    margin-left: 100px;
    margin-top: 30px;
}
}

@media only screen and (min-width: 600px) {
#text_content2_shade1{
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    font-style: oblique;
    margin-top: 170px;
    margin-left: 20px;
}
}

@media only screen and (min-width: 600px) {
.button_shade1 {
    margin-top: 18px;
    padding: 8px 30px;
    margin-left: 650px;
    width: 120px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    background-color: white;
    border: 2px solid #4CAF50;
}
}

@media only screen and (min-width: 600px) {
.button_shade2 {
    margin-top: 70px;
    margin-left: 19rem;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    background-color: white; 
    border: 2px solid #4CAF50;
}
}

/* JavaScript Progress Bar */
@media only screen and (min-width: 600px) {
#myProgress{
    position: relative;
    border-radius: 25px;
    width: 60.5%;
    height: 30px;
    margin-left: 290px;
    margin-top: 20px;
    background-color: #ddd;
  }
}

@media only screen and (min-width: 600px) {
#myBar{
    position: absolute;
    border-radius: 25px;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
}
}
 

@media only screen and (min-width: 600px) {
#label{
    text-align: center;
    line-height: 30px;
    color: white;
}
}

@media only screen and (min-width: 600px) {
#myBar{
    font-weight: bolder;
}
}

@media only screen and (min-width: 600px) {
.prev, .next {
    transition: 0.6s ease;
    user-select: none;
}
}
