.text_shade1{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px; 
    width: 900px;
    height: 3400px;    
    margin-top: 20px;
    margin-left: 280px;
}

.text_header_shade{
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-top: 160px;
    margin-left: 460px;
}

#text_header_shade1{
    font-size: 22px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 2px;
}

#text_content1_shade1{
    font-size: 19px;
    font-family: 'Mitr', sans-serif;
    margin-left: 20px;
}

#text_content2_shade1{
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    font-style: oblique;
    margin-top: 120px;
    margin-left: 20px;
}

.button_shade1 {
    margin-top: 20px;
    margin-left: 40rem;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    background-color: white; 
    border: 2px solid #4CAF50;
}

.button_shade2 {
    margin-top: 20px;
    margin-left: 1rem;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    background-color: white; 
    border: 2px solid #4CAF50;
}


/* JavaScript Progress Bar */

#myProgress{
    position: relative;
    border-radius: 25px;
    width: 60.5%;
    height: 30px;
    margin-left: 290px;
    margin-top: 20px;
    background-color: #ddd;
  }
  
#myBar{
    position: absolute;
    border-radius: 25px;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
}
  
#label{
    text-align: center;
    line-height: 30px;
    color: white;
}

#myBar{
    font-weight: bolder;
}

.prev, .next {
    transition: 0.6s ease;
    user-select: none;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  